@model htaccessExtension.Models.HTAccessModel
@{
    ViewBag.Title = "Index";
}

<h2>Import mod_rewrite Rules</h2>
<fieldset>
    <legend>Rules to Import</legend>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.LabelFor(m => m.File)
        @Html.TextBoxFor(m => m.File, new { type = "file", value = "..." });
        <input type="submit" id="submit" value="Import" />
    }
    @Html.TextAreaFor(m => m.HTAccessFile)
</fieldset>

<fieldset>
    <legend>Converted Rules</legend>
    @Html.TextAreaFor(m => m.WebConfigFile)
</fieldset>